.scroll-down {
    /* transform: scale(0.5); */
    /* margin:0; */
    animation-name: animate-scroll-down;
    animation-duration: 1s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    will-change: auto;
}

@keyframes animate-scroll-down {

    from {
        transform: scale(0.8);
    }
    to {
        /* font-size:2.5rem; */
        /* margin-top:0rem !important; */
        transform: scale(2);
    }

}