@media  screen and (max-width:768px) {
    .HeroContainer h2 {
        padding-top:2.5rem;
        text-align: center;
        font-size:1.8rem;
    }
    .HeroContainer h5 {
        font-size:1rem;
        text-align: center;
    }

    .HeroContainer span {
        margin-top: 1rem;
        text-align: center;
    }

    .NewsLetter {
        justify-content: center !important;
    }

    footer  ul.contact-us {
        margin:0;
        padding:0;
        text-align:center;
        margin-top:2rem;
        li {
            text-align:left;
        }
    }

    footer .social-links {
        text-align:center !important;
    }

}

@media screen and (max-width:392px) {
    .NewsLetter button {
        margin-top:1.2rem;
    }
}

