* {
    font-family: "BrunoAceScRegular";
    margin:0;padding:0;
}

a {
    color:var(--brand-primary);
    text-decoration: none;
    transition: all 250ms linear;
}
a:hover {
    transition: all 250ms linear;
}
.btn-grad {background-image: linear-gradient(to right, var(--brand-primary) 0%, var(--brand-secondary)  55%, var(--brand-tertiary)  100%)}
.btn-grad {
    border:2px solid var(--brand-primary);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 8px;
    /* display: block; */
    outline:none;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

