@import './css/gradients.css';
@import './css/media_query.css';

* {
    /* font-family: "Poppins", sans-serif; */
    /* font-family: "BrunoAceSCRegular"; */
    margin:0;padding:0;
}

a {
    color:var(--brand-primary);
    text-decoration: none;
    transition: all 250ms linear;
}
a:hover {
    color:#0f0f0f;
    transition: all 250ms linear;
}
.container-fluid {
    margin:0;
    padding:0;
}

li {
    list-style: none;
}
a.button-link {
    font-family: 'roboto-medium';
    border:2px solid transparent;
    transition:all 300ms linear;
}
a.button-link:hover {
    transition: all 300ms linear;
    background-color:transparent !important;
    border:2px solid black;
    outline:none !important;
    color:var(--text-color) !important;
    /* box-shadow: 4px 4px 15px var(--brand-primary); */
    
}