@import './css/gradients.css';
@import './css/media_query.css';

* {
    font-family: "BrunoAceScRegular";
    /* font-family: "sans-serif"; */
    margin:0;padding:0;
}

a {
    color:var(--brand-primary);
    text-decoration: none;
    transition: all 250ms linear;
}
a:hover {
    color:#0f0f0f;
    transition: all 250ms linear;
}
.h-min {
    min-height:75vh;
}
.container-fluid {
    margin:0;
    padding:0;
}