:root {
  font-family: "BrunoAceSCRegular";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  /* box-sizing: border-box; */
  z-index:1;

  /* Theming */
  /* --brand-primary:#2BACE2; */
  --brand-primary:#0b1bcca1;
  /* --brand-secondary:#2E76BC; */
  --brand-secondary:#8f04cb;
  --brand-tertiary:#3582C2;

  --primary-shade:#87dbff;

  --text-color:#000000;
  --btn-text:white;
  --bg-color:#FFFFFF;
  --white-glass:rgba(255, 255, 255, 0.200);

  --on-link:var(--brand-secondary);

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  position: relative;
  width:100vw;
  overflow-x:hidden;
}

@font-face {
  font-family: "BrunoAceSCRegular";
  src: local("BrunoAceSCRegular"), url('./fonts/BrunoAceSCRegular.ttf'), format("opentype");
  font-weight: normal;
}
