@import url('/src/css/fonts.css');
:root {
  /* font-family: "BrunoAceSCRegular"; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  /* box-sizing: border-box; */
  z-index:1;

  /* Theming */
  /* --brand-primary:#2BACE2; */
  --brand-primary:#7e05ef;
  /* --brand-secondary:#2E76BC; */
  --brand-secondary:#8f04cb;
  --brand-tertiary:#3582C2;

  --primary-shade:#87dbff;

  --text-color:#000000;
  --btn-text:white;
  --bg-color:#FFFFFF;
  /* --white-glass:rgba(255, 255, 255, 0.566); */
  --white-glass:rgba(255, 255, 255, 0.559);
  --black-glass:rgba(0, 0, 0, 0.751);

  --on-link:var(--brand-secondary);
}

body {
  position: relative;
  width:100vw;
  overflow-x:hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 0, 0) !important;
  }

  .Header, .SideMenu, .HeroContainer {
    color:white !important;
    background-color:var(--black-glass) !important;
  }
}